<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="base :: headcopy"></div>
</head>
<body>
<div th:replace="base :: headercopy"></div>
<div th:replace="base :: flash"></div>
<nav>
    <ul>
        <li><a th:href="@{/projects}">Projects</a></li>
        <li><a th:href="@{/collaborators}">Collaborators</a></li>
        <li class="selected"><a th:href="@{/roles}">Roles</a></li>
    </ul>
</nav>
<section>
    <div class="container wrapper">
        <form th:action="@{|/role/update|}" method="post" th:object="${role}">
            <label>Edit Role:</label>
            <div class="actions add-new-role">
                <input type="text" th:field="*{name}" placeholder="New Role..."/>
                <input type="hidden" th:field="*{id}"/>
                <input type="submit" value="Update" style="width: 60px" class="button"/>
            </div>
            <div class="error-message" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"></div>
        </form>
        <div th:id="${role.id != null}">
            <form th:action="@{|/roles/${role.id}/delete|}" method="post">
                <button type="submit" class="button">Delete</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>